<ul>
	<li><%= nav_link_to "home", 'home', pages_home_path, 'current-page' %></li>
	<li><%= nav_link_to "calendar", 'calendar', pages_calendar_path, 'current-page' %></li>
	<li><%= nav_link_to "about", 'about_us',pages_about_us_path, 'current-page' %></li>
	<li><%= nav_link_to "contact", 'contact_us', pages_contact_us_path, 'current-page' %></li>
  <li><%= nav_link_to 'show users and post', 'show', user_show_path, 'current-page' %></li>
  <li><%= nav_link_to 'show posts', 'post_show', posts_post_show_path, 'current-page' %></li>
</ul>
