<h1>edit commentary</h1>

<%= form_for :commentary, url: commentary_path(@commentary), method: :patch do |f| %>

<% if @commentary.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@commentary.errors.count, "error") %> prohibited
        this commentary from being saved:
      </h2>
      <ul>
        <% @commentary.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', commentaries_path %>