<h1>Create new commentary</h1>

<%= form_for :commentary, url: commentaries_path do |f| %>

<% if @commentary.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@commentary.errors.count, "error") %> prohibited
        this commentary from being saved:
      </h2>
      <ul>
        <% @commentary.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <script>
  $(document).ready(function(){
    $("#title").blur( function()
      {
        var bla = $('#title').val();
        var blah =  bla.split(' ').join('-');
        $('#slug').val(blah);
      });
  });

  </script>
 
  <%= f.label :title %><br>
  <%= f.text_field :title, :autofocus=>true, :id => 'title', :size=>"150" %>
 
  <p>
    <%= f.label :position %><br>
    <%= f.text_field :position, :size=>"150" %>
  </p>

  <p>
    <%= f.label :slug %><br>
    <%= f.text_field :slug, disabled: true, id: "slug", :size=>"150" %>
  </p>
 
  <p>
    <%= f.submit :id => 'button' %>
  </p>
<% end %>
 
<%= link_to 'Back', commentaries_path %>