   <h1>Commentaries#show</h1> 
   
<main>
  <%= render partial: 'shared/aside'%>
  <article>

  <p>Position: <%= @content.position %></p>

  <% @sections.each do |link| %>
    <h3><%= link_to link.title, section_path(link.id) %></h3>
  <% end %>




  <p><%= link_to 'Edit',{ :action => 'edit', :id => @content }  %></p>

  <p><%= link_to 'Destroy', commentary_path(@content), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </article>

  <div class='clear'></div>

</main>





