<!DOCTYPE html>
<html>
<head>
  <title>RailsTesting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p>bookle layout</p>

  <%= render partial: 'shared/booklet_navigation' %>
  
  action name is: <%= action_name %>
<%= yield %>

</body>
</html>
